<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
    HappyFortuneService myFortuneService = new HappyFortuneService();
    Coach myCoach =new BaseBallCoach(myFortuneService)
    ..the above thing is the same as the below code in beans.
    -->

    <!-- Define dependency helper -->
    <!-- Creating the dependency -->

  <!--  <bean id="myFortuneService"
    class="com.example.dependency_injection.HappyFortuneService">
    </bean>
    &lt;!&ndash; myCoach is the id to get the spring object &ndash;&gt;
    <bean id="myCoach"
    class="com.example.dependency_injection.BaseballCoach">
        &lt;!&ndash; creating a const argument for the constructor&ndash;&gt;
        &lt;!&ndash; Injecting the dependency&ndash;&gt;
        <constructor-arg ref="myFortuneService"/>
    </bean>
-->


  <!--  <bean id="myCoach"
    class="com.example.dependency_injection.BaseballCoach">
    </bean>

    <bean id="myCoach2"
          class="com.example.dependency_injection.CricketCoach">
        <constructor-arg ref="myCoach"/>
    </bean>
-->

   <!-- <bean id="myFortuneService"
          class="com.example.dependency_injection.HappyFortuneService">
    </bean>

    <bean id="myCoach" class="com.example.dependency_injection.BaseballCoach">
        <constructor-arg ref="myFortuneService"/>
    </bean>-->

    <bean id="myHealthyDietCoach" class="com.example.dependency_injection.HealthyDiet">
    </bean>

    <bean id="myCoach" class="com.example.dependency_injection.CricketCoach">
        <constructor-arg ref="myHealthyDietCoach"></constructor-arg>
    </bean>

</beans>