<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
    HappyFortuneService myFortuneService = new HappyFortuneService();
    Coach myCoach =new BaseBallCoach(myFortuneService)
    ..the above thing is the same as the below code in beans.
    -->

    <!-- Define dependency helper -->
    <!-- Creating the dependency -->

    <bean id="myFortuneService"
    class="com.example.dependency_injection.HappyFortuneService">
    </bean>

    <!-- myCoach is the id to get the spring object -->
    <bean id="myCoach"
    class="com.example.dependency_injection.BaseballCoach">
        <!-- creating a const argument for the constructor-->
        <!-- Injecting the dependency-->
        <constructor-arg ref="myFortuneService"/>
    </bean>
</beans>